<div class="card">
    <div class="card-body">
        <h1>Acerca De Nosotros</h1>
        <p>Somos Una Corporacion Privada En El Cual Esta Centrado En El Desarrollo De Aplicaciones, Paginas 
            Y Diseño Web. Esta Aplicacion Fue Creada Especialmente Para Aquellas Personas Que Quieran Guardar
            Sus Notas Y No Tener Posibilidades De Perder La Informacion Escrita.</p>
    </div>
</div>