<div class="jumbotron mt-4">
    <h1 class="display-4">!Bienvenidos!</h1>
    <p class="lead">Gracias Por Visitar Nuestra Pagina De Creacion De Notas</p>
    <hr class="my-4">
    <p>¿No Tienes Donde Guardar Tu Notas? Esta Es La Pagina Para Ti, Aqui Puedes Crear Tus Notas 
        Y Guardarla En La Nube Para No Perderlas, Su Interfast Y Navegacion Nunca Te Va A Cansar 
        Ya Que Es Una Interfast Muy Censilla, Facil De Manejar, Y Agradable A La Vista.
    </p>
</div>