<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Registre Una Cuenta</h1>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" autofocus autocomplete="off" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar Contraseña" value="{{confirmPassword}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Registrar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>